title {
  font-family: 'Droid Sans', sans-serif;
  color: #00000B;
  font-size: 36px;
  line-height: 1;
}

h1 {
  font-family: 'Droid Sans', sans-serif;
  color: #00000B
  font-size: 50px;
  text-transform: uppercase;
  line-height: 1;
  padding: 20px 0px;

  text-align: center;
}

h2 {
  font-family: 'Droid Sans', sans-serif;
  color: #00000B;
  font-size: 24px;
  line-height: 1;
}

h3 {
  font-family: 'PT Sans', sans-serif;
  color: #00000B;
  font-size: 18px;
  line-height: 1;
}

h4 {
  font-family: 'PT Sans', sans-serif;
  color: #00000B;
  font-size: 18px;
  line-height: 1;
}

h5 {
  font-family: 'PT Sans', sans-serif;
  color: #00000B;
  font-size: 16px;
  line-height: 1;
}

p {
  font-family: 'Droid Sans', sans-serif;
  color: #00000B;
  font-size: 12px;
  line-height: 1;
}

/*----TempCSS---*/
nav {
    display: inline-block;
}


/*-------------- Home updated ----------------*/

.blue {
  background-color: #6A8EAE;
  height: 125;
}

.avatar {
  height: 50px;
  width: 50px;
}

.profile {
  float: right;
  display: inline;
}

.forms {
    /*email / password*/
}

.button_box {
    background-image: url("../images/web_images/tomatoes.png");
    margin: auto;
    height: 350px;
    background-size: cover;
    background-position: center;
}

.btn-login {
     background-color: #6A8EAE;
     padding: 10px;
     font-family: 'Droid Sans', sans-serif;
     color: #00000B;
     font-size: 24px;
     line-height: 1;
     border-radius: 10px;
}

.login {

}

/*formerly featured*/
.outer_container {
    text-align: center;
    background-color: #57A773;
    padding-top: 2px;
}


/*container colors and radius*/
.inner_containers {
    margin: 30px;
    padding: 15px;
    border-radius: 10px;

}

/*boxes will vary and same content */
.inner_content {
    text-align: left;
    margin: 15px;
    background-color: #6A8EAE;
    padding: 15px;
    display: inline-block;
}

/*-------------- New Account ----------------*/


.main_box {
text-align: center;
padding: 250px 50px 20px 50px;
}

.donor_login {
    text-align: center;
    font-size: 30px;
    background-color: #57A773;
    opacity: 0.7;
    height: 175px;
    width: 325px;
    border-radius: 15px;
    position: absolute;
    margin-top: 12%;
    margin-left: 51%;
    padding: 10px;
    display: inline-block;
}

.charity_login {
    text-align: center;
    font-size: 30px;
    background-color: #9BD1E5;
    opacity: 0.7;
    height: 175px;
    width: 325px;
    border-radius: 15px;
    position: absolute;
    margin-top: 12%;
    margin-left: 23%;
    padding: 10px;
    display: inline-block;
}


/*-------------- New Donor ----------------*/

/*duplicate code*/


/*-------------- Donorlanding ----------------*/

.favorites {

}

.fc_box {

}

/*possibly config and add contact and favorite buttons*/


/*-------------- Charitylanding ----------------*/



.allcharities {

}




/*-------------- New Charity ----------------*/
.green_container {

}

.white_box {

}

.radio {

}

.checkbox {

}

.textarea {

}


/*-------------- Charity Home Logged In ----------------*/

.charity_map {

}

.charity_profile





/*-------------- charitylogin ----------------*/

/*.login {
  text-align: center;
}

#email {
  font-size: 36px;
  padding: 10px;
  border-radius: 15px;
  margin: 15px;
}

#password {
  font-size: 36px;
  padding: 10px;
  border-radius: 15px;
  margin: 15px;
}

#login {
  font-size: 39px;
  padding: 8px 65px;
  border-radius: 15px;
  margin: 5px;
  background-color: #6A8EAE;
}

#sign_up {
  font-size: 36px;
  padding: 8px 50px;
  border-radius: 15px;
  margin: 5px;
  background-color: #57A773;
}

.container {
  background-color: #57A773;
  border-radius: 25px;
  text-align: center;
  height: 900px;
  opacity: .7;
  padding: 25px;
}

.capitalfoodbank {
  background-color: #6A8EAE;
  font-size: 36px;
  border-radius: 10px;
  height: 275px;
  margin: auto;
}*/
